body {
  padding-top: 50px;
  padding-bottom: 20px;
}
@media(min-width:768px) {
  .navbar-default {
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
    padding: 15px 0;
    /* Add additional styles here for the UNCOLLAPSED state */
  }
  .navbar-default.affix {
    padding: 0;
    /* Add additional styles here for the COLLAPSED state */
  }
}
.jumbotron 
{
  background-color:rgba(0,0,0,0.5);
  height:100%;
  width:100%;
  overflow: hidden;
  top: 0px;
  left: 0px;
  color:white;


}
ul.nav
{
    font-family: 'Quicksand', sans-serif;
}
.jumbotron p
{
  font-family: 'Raleway', sans-serif;
  text-align: center;
  padding: 0 50px;
  color:#d9edf7;
  margin-bottom: 30px;



}
.jumbotron h1
{
  font-family: 'Arvo', serif;
  text-align: center;
  margin-top:0px;
  position:relative;

  margin-bottom:50px;
  font-size: 63px;

}
@media (max-width: 767px)
{

.jumbotron h1 {
    font-size: 40px;
}
}
@media (max-width:767px)
{
  .jumbotron p
  {
    font-size:20px;
    text-align:center;
  }

.logo
{
    overflow: hidden;
    height:150px;

}
.img-fluid
{
    max-width:100%;
    height:auto;
    margin-top:-2px;
}
.navbar-brand {
  padding: 0px 13px 0px ;
  padding-top:5px;
}
.navbar-brand>img {
  height: 130%;
  padding: 15px;
  width: auto;
}
